<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
		<pages>
			<namespaces>
				<add namespace="DomainModelLayer" />
				<add namespace="UtilitiesLayer" />
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<!-- Cambia Default.aspx por Home.aspx -->
				<add value="Home.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<location path="Admin">
		<system.webServer>
			<defaultDocument>
				<files>
					<add value="Dashboard.aspx" />
				</files>
			</defaultDocument>
		</system.webServer>
	</location>
	<connectionStrings>
		<add name="maxi_bangho" connectionString="Data source=BANGHO\SQLEXPRESS; Initial Catalog=ecommerce; Integrated Security=true" providerName="System.Data.SqlClient" />
		<add name="maxi_mac" connectionString="Data Source=192.168.0.221; Initial Catalog=ecommerce; User ID=SA; Password=Password1234; Connect Timeout=30;" />
		<add name="facu" connectionString="Data Source=.\SQLEXPRESS;database=ecommerce;integrated security=true" />
		<add name="ana" connectionString="server=.\SQLEXPRESS; database=ecommerce; integrated security=true" />
		<add name="azure" connectionString="server=lab3facu.database.windows.net; database=ecommerce; User=lab3sa;Password=;" />
	</connectionStrings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
</configuration>